<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="client_id" value="895963850ade9e8f5652ecabc7e16b3d561ea22f8d8b4c4207e6784a0db3a01f" />
    <add key="secret_id" value="6b08be21178a7f76229d7cae91a33eed023b7bf5aede577f4cc7d73ec5bd6e3f" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>